h1{
  color: rgb(249, 181, 34);
  font-weight: bolder;
}

section{
  color: rgb(249, 181, 34);
  font-weight: bolder;
  div{
    padding: 2rem;
    background-image: url('https://us.123rf.com/450wm/kishivan/kishivan1905/kishivan190500257/123119569-barile-di-legno-e-bicchiere-di-birra-su-un-vecchio-tavolo-di-legno-di-quercia-.jpg?ver=6');
    background-size: cover;
    border: none;
  }
}
