#user-detail {
  width: 90%;
  max-height: 28rem;
  margin: 0.5rem;
  margin-top: 2rem;
  margin-right: 2rem;
  background-color: #FFF2CC;
  border: 1px solid hsl(45, 56%, 64%);
  overflow-y: scroll;
}
